:root{
    --black: #000000;
    --beige: #bdad90;
    --linen: #f4ebe1;
    --slate: #2d504f;
    --darkgreen: #173b34;

}

a.nav-link{
    text-decoration: none;
    color: var(--linen);
    margin-top: 1em;
    margin-bottom: 2em;
    margin-right: .5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    
}
a.nav-link, a.active{
    color: var(--beige);

}