:root{
    --black: #000000;
    --beige: #bdad90;
    --linen: #f4ebe1;
    --slate: #2d504f;
    --darkgreen: #173b34;

}

a.nav-link{
    text-decoration: none;
    color: var(--linen);
    border-radius: 8%;
    
}
a.nav-link, a.active{
    color: var(--beige);

}