:root{
    --black: #000000;
    --beige: #bdad90;
    --linen: #f4ebe1;
    --slate: #2d504f;
    --darkgreen: #173b34;

}

.subTitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight:400;
    color: var(--beige);
}

.icon{
    width: 9vw;
    background-color: var(--linen);
    display: flex;
    flex-wrap:  wrap;
    justify-content: center;
}

.skillsList{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    box-shadow: none;
    background-color: var(--linen);
    padding: 5px;
    border-radius: 8px;
}

.skillsIcons{
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-around;
    background-color: #2c685c00;
}

.soloProjects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

.collaborativeProjects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}
.individualCard{
    margin-bottom: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card-body> h4{
    background-color: var(--linen);
    text-align: center;
    
}
.card-body> h5{
    background-color: var(--linen);
    text-align: center;
    
}
.card-body> p{
    background-color: var(--linen);
    text-align: center;
}
.card-body> a{
    background-color: var(--linen);
}
.card-body> a{
    text-decoration: none;
    color: var(--darkgreen);
}

.list-group{
    text-align: center;

}
.skillName{
    background-color: var(--linen);
    color: var(--black);
    text-align: center;
    font-size: 1.3rem;
   
}

